[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.3
    ignore = dirty
[submodule "clibs/libxm-master"]
	path = clibs/libxm-master
	url = https://github.com/Artefact2/libxm
    ignore = dirty
